<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" itemscope itemtype="http://schema.org/Article" xmlns:fb="http://www.facebook.com/2008/fbml">

	<head>
		<title>Personal accounts - SKB</title>
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="robots" content="index,follow" />
		<meta name="revisit-after" content="7 days" />
		<meta property="og:title" content="Personal accounts - SKB" />
		<meta property="og:description" content="SKB" />
		<meta property="og:type" content="article" />
		
		<meta property="og:url" content="http://www.skb.si/personal-banking/personal-accounts" />
		<meta property="og:site_name" content="SKB" />
		<meta property="fb:admins" content="1430163827" />
		<meta itemprop="name" content="Personal accounts - SKB" />
		<meta itemprop="description" content="SKB" />
		<meta itemprop="image" content="http://" />
        <meta name="viewport" content="width=device-width" />
		<link type="text/css" rel="stylesheet" media="screen,projection" href="http://www.skb.si/.resources/website/css/default.css" />
		<link type="text/css" rel="stylesheet" media="screen,projection" href="http://www.skb.si/.resources/website/css/fancybox.css" />

        <link type="text/css" rel="stylesheet" media="screen,projection" href="http://www.skb.si/.resources/cookie/styleCustom.css" />

		<link type="text/css" rel="stylesheet" media="screen,projection" href="http://www.skb.si/.resources/website/css/smoothness/jquery-ui-1.7.3.custom.css" /><!--[if lte IE 7]>
		<link type="text/css" rel="stylesheet" media="screen,projection" href="/.resources/website/css/ie.css"><![endif]--><!--[if IE 7]>
		<link type="text/css" rel="stylesheet" media="screen,projection" href="/.resources/website/css/ie7.css"><![endif]-->
		<link type="text/css" rel="stylesheet" media="print" href="http://www.skb.si/.resources/website/css/print.css" />
        <link rel="shortcut icon" href="http://www.skb.si/.resources/favicon.ico" />


		<script type="text/javascript" src="http://www.skb.si/.resources/website/js/jquery-1.6.4.min.js"></script>
        <script type="text/javascript" src="http://www.skb.si/.resources/cookie/pluginCustom.js"></script>
        <script type="text/javascript" src="http://www.skb.si/.resources/cookie/translations.js"></script>
        <script type="text/javascript">

            var pageName = "www.skb.si";
            var pageUrl = "http://www.skb.si/";

            var lang = "en"		//add your logic for setting the language and add appropriate translations to translations.js

            // <![CDATA[
            cc.initialise({

                /*
                 Specify type of cookies for consent logic.
                 Possible predefined values: analytics, social, advertising.
                 You can add your own, but make sure to provide all the texts (look into translations.js).
                 */
                cookies: {
                    analytics: {    //class="cc-onconsent-analytics"

                    },
                    social: {       //class="cc-onconsent-social"

                    },
                    maps: {

                    }
                },
                settings: {
                    bannerPosition: "push",
                    style: "custom",
                    cookieApprovedExp: 365, //expiration days for approved cookies
                    cookieNotApprovedExp: 0, //expiration days for not approved cookies ( <0: no cookie, ==0: session, >0: expiration days )
                    iframeToCheck: 'infoCalcIframe'
                },

                strings: window[lang].strings(pageName, pageUrl, "skb_si")		//load appropriate strings (defined in translations.js)

            });
            // ]]>
        </script>

        
	</head>
	<body class="lang-en" lang="en">
		<div id="top">
			<div class="w">
				<ul class="level-1 top-links">
					<li class="nochild">
						<a href="http://www.skb.si/en/contact">Contact</a>
					</li>
					<li class="nochild">
						<a href="http://www.skb.si/en/press">Press</a>
					</li>
					<li class="nochild">
						<a href="http://www.skb.si/en/societe-generale-group">Soci&eacute;t&eacute; G&eacute;n&eacute;rale Group</a>
					</li>
					<li class="nochild">
						<a href="http://www.skb.si/en/skb-leasing">SKB Leasing</a>
					</li>
					<li class="nochild">
						<a href="http://www.skb.si/en/ald-automotive">ALD Automotive</a>
					</li>
					<li class="nochild">
						<a href="http://www.skb.si/en/about-skb">About SKB</a>
					</li>
					<li class="nochild">
						<a href="http://www.skb.si/en/outlets-and-atms">Outlets and ATMs</a>
					</li>
					<li>
						<a href="http://www.skb.si/">Slovensko</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="header">
			<div class="w">
				<div class="logo">
                    <img class="printOnly" src="http://www.skb.si/.resources/website/images/identity/logo_new_en.gif" alt="SKB" />
					<a href="http://www.skb.si/en/" title="SKB">SKB</a>
				</div>
				<ul class="side-links">
                    <li class="social"><a class="fb" href="http://www.facebook.com/BankaSKB" target="_blank" title="SKB na Facebooku"></a><a class="yt" target="_blank" title="SKB na Youtube" href="http://www.youtube.com/user/BankaSKB?blend=1&ob=0"></a></li>
					<li>
						<a class="sitemap" href="http://www.skb.si/en/sitemap">Sitemap</a>
					</li>
					<li class="zoomtool">
						<a class="zoom" href="personal-accounts#">A++</a>
						<a class="zoomout" href="personal-accounts#">A--</a>
                        <div class="addthis_toolbox addthis_default_style">
                            <a class="addthis_button_print"><img src="http://www.skb.si/.resources/website/images/icons/printer.gif"/></a>
                        </div>
                        <script type="text/plain" class="cc-onconsent-social">
                            jQuery.getScript("http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f30f6123e49e6e1");
                        </script>
					</li>
				</ul>
				
				<ul class="level-1 main-nav">
					<li class="nochild active">
						<a href="http://www.skb.si/en/personal-banking">Personal banking</a>
					</li>
					<li class="nochild">
						<a href="http://www.skb.si/en/corporate-banking">Corporate banking</a>
					</li>
				</ul>
				<form action="http://www.skb.si/en/search-results" method="get" id="search">
					<fieldset>
						<input type="text" name="q" id="search-input" />
						<input type="submit" value="Search" class="submit" />
					</fieldset>
				</form>
			</div>
		</div>
		<div id="body">
			<div class="w">
				<div id="content">
                    <!-- multistep form -->
                    <form id="msform">
                      <!-- progressbar -->
                      <ul id="progressbar">
                        <li class="active">Account Setup</li>
                        <li>Social Profiles</li>
                        <li>Personal Details</li>
                      </ul>
                      <!-- fieldsets -->
                      <fieldset>
                        <h2 class="fs-title">Create your account</h2>
                        <h3 class="fs-subtitle">This is step 1</h3>
                        <input type="text" name="email" placeholder="Email" />
                        <input type="password" name="pass" placeholder="Password" />
                        <input type="password" name="cpass" placeholder="Confirm Password" />
                        <input type="button" name="next" class="next action-button" value="Next" />
                      </fieldset>
                      <fieldset>
                        <h2 class="fs-title">Social Profiles</h2>
                        <h3 class="fs-subtitle">Your presence on the social network</h3>
                        <input type="text" name="twitter" placeholder="Twitter" />
                        <input type="text" name="facebook" placeholder="Facebook" />
                        <input type="text" name="gplus" placeholder="Google Plus" />
                        <input type="button" name="previous" class="previous action-button" value="Previous" />
                        <input type="button" name="next" class="next action-button" value="Next" />
                      </fieldset>
                      <fieldset>
                        <h2 class="fs-title">Personal Details</h2>
                        <h3 class="fs-subtitle">We will never sell it</h3>
                        <input type="text" name="fname" placeholder="First Name" />
                        <input type="text" name="lname" placeholder="Last Name" />
                        <input type="text" name="phone" placeholder="Phone" />
                        <textarea name="address" placeholder="Address"></textarea>
                        <input type="button" name="previous" class="previous action-button" value="Previous" />
                        <input type="submit" name="submit" class="submit action-button" value="Submit" />
                      </fieldset>
                    </form>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="w">
				<ul class="level-1 box">
					<li class="open">
						<a href="http://www.skb.si/en/press">Press</a>
						<ul class="level-2">
							<li class="closed">
								<a href="http://www.skb.si/en/press/annual-reports">Annual reports</a>
							</li>
							<li class="closed">
								<a href="http://www.skb.si/en/press/press-release">Press releases</a>
							</li>
							<li class="nochild">
								<a href="http://www.skb.si/en/press/awards">Awards</a>
							</li>
						</ul>
					</li>
					<li class="open parent">
						<a href="http://www.skb.si/en/personal-banking">Personal banking</a>
						<ul class="level-2">
							<li class="closed">
								<a href="http://www.skb.si/en/personal-banking/packages">Would you like to change your bank? </a>
							</li>
							<li class="active closed">
								<a href="personal-accounts">Personal accounts</a>
							</li>
							<li class="closed">
								<a href="http://www.skb.si/en/personal-banking/payment-services">Payment services</a>
							</li>
							<li class="closed">
								<a href="http://www.skb.si/en/personal-banking/loans">Loans</a>
							</li>
							<li class="nochild">
								<a href="http://www.skb.si/en/personal-banking/leasing">Personal vehicles leasing</a>
							</li>
							<li class="closed">
								<a href="http://www.skb.si/en/personal-banking/payment-cards">Payment cards</a>
							</li>
							<li class="closed">
								<a href="http://www.skb.si/en/personal-banking/savings">Savings</a>
							</li>
							<li class="closed">
								<a href="http://www.skb.si/en/personal-banking/deposits">Deposits</a>
							</li>
							<li class="closed">
								<a href="http://www.skb.si/en/personal-banking/structured-products">Structured products</a>
							</li>
							<li class="closed">
								<a href="http://www.skb.si/en/personal-banking/investment-funds">Investment Funds</a>
							</li>
							<li class="closed">
								<a href="http://www.skb.si/en/personal-banking/brokerage">Brokerage</a>
							</li>
							<li class="closed">
								<a href="http://www.skb.si/en/personal-banking/insurance">Insurance</a>
							</li>
							<li class="closed">
								<a href="http://www.skb.si/en/personal-banking/modern-banking-channels">Modern banking channels</a>
							</li>
							<li class="closed">
								<a href="http://www.skb.si/en/personal-banking/prestige-offer">SKB Prestige</a>
							</li>
							<li class="nochild">
								<a href="http://www.skb.si/en/personal-banking/skb-private-banking">SKB Private Banking</a>
							</li>
							<li class="nochild">
								<a href="http://www.skb.si/en/personal-banking/services-for-foreign-clients">Services for foreign clients</a>
							</li>
							<li class="closed">
								<a href="http://www.skb.si/en/personal-banking/youngsters-offer">Youngsters offer</a>
							</li>
							<li class="closed">
								<a href="http://www.skb.si/en/personal-banking/interest-rates">Interest rates</a>
							</li>
							<li class="nochild">
								<a href="http://www.skb.si/en/personal-banking/price-lists">Price lists</a>
							</li>
						</ul>
					</li>
					<li class="open">
						<a href="http://www.skb.si/en/corporate-banking">Corporate banking</a>
						<ul class="level-2">
							<li class="closed">
								<a href="http://www.skb.si/en/corporate-banking/packages">Would you like to change your bank?</a>
							</li>
							<li class="closed">
								<a href="http://www.skb.si/en/corporate-banking/accounts-and-operations">Accounts and operations</a>
							</li>
							<li class="closed">
								<a href="http://www.skb.si/en/corporate-banking/payment-cards">Payment cards</a>
							</li>
							<li class="closed">
								<a href="http://www.skb.si/en/corporate-banking/payment-transactions">Payment transactions</a>
							</li>
							<li class="closed">
								<a href="http://www.skb.si/en/corporate-banking/business-financing">Business financing</a>
							</li>
							<li class="closed">
								<a href="http://www.skb.si/en/corporate-banking/investments">Investments</a>
							</li>
							<li class="closed">
								<a href="http://www.skb.si/en/corporate-banking/derivatives">Derivatives</a>
							</li>
							<li class="closed">
								<a href="http://www.skb.si/en/corporate-banking/modern-banking-channels">Modern banking channels</a>
							</li>
							<li class="closed">
								<a href="http://www.skb.si/en/corporate-banking/international-business">International business</a>
							</li>
							<li class="closed">
								<a href="http://www.skb.si/en/corporate-banking/interest-rates">Interest rates</a>
							</li>
							<li class="nochild">
								<a href="http://www.skb.si/en/corporate-banking/price-lists">Price lists</a>
							</li>
						</ul>
					</li>
					<li class="open">
						<a href="http://www.skb.si/en/about-skb">About SKB</a>
						<ul class="level-2">
							<li class="nochild">
								<a href="http://www.skb.si/en/about-skb/short-presentation">Short presentation</a>
							</li>
							<li class="closed">
								<a href="http://www.skb.si/en/about-skb/history">History</a>
							</li>
							<li class="nochild">
								<a href="http://www.skb.si/en/about-skb/mission-and-vision">Mission and vision</a>
							</li>
							<li class="nochild">
								<a href="http://www.skb.si/en/about-skb/board-of-directors">Board of Directors</a>
							</li>
							<li class="nochild">
								<a href="http://www.skb.si/en/about-skb/general-management">General Management</a>
							</li>
							<li class="nochild">
								<a href="http://www.skb.si/en/about-skb/general-meeting-of-shareholders">General Meeting of Shareholders</a>
							</li>
							<li class="nochild">
								<a href="http://www.skb.si/en/about-skb/ownership-structure">Ownership structure</a>
							</li>
							<li class="closed">
								<a href="http://www.skb.si/en/about-skb/sponsorship">Sponsorship</a>
							</li>
						</ul>
					</li>
					<li class="nochild">
						<a href="http://www.skb.si/en/skb-tel-form">SKB TEL (01) 471 55 55</a>
					</li>
					<li class="nochild">
						<a href="http://www.skb.si/en/reference-interest-rates-1">Reference interest rates</a>
					</li>
					<li class="open">
						<a href="http://www.skb.si/en/outlets-and-atms">Outlets and ATMs</a>
						<ul class="level-2">
							<li class="nochild">
								<a href="http://www.skb.si/en/outlets-and-atms/safes">Safe deposit boxes</a>
							</li>
							<li class="nochild">
								<a href="http://www.skb.si/en/outlets-and-atms/outlets">Outlets</a>
							</li>
							<li class="nochild">
								<a href="http://www.skb.si/en/outlets-and-atms/branches">Branches</a>
							</li>
							<li class="nochild">
								<a href="http://www.skb.si/en/outlets-and-atms/atms">ATMs</a>
							</li>
							<li class="nochild">
								<a href="http://www.skb.si/en/outlets-and-atms/night-safes">Night safes</a>
							</li>
							<li class="nochild">
								<a href="http://www.skb.si/en/outlets-and-atms/safe-deposit-boxes">Safe deposit boxes</a>
							</li>
						</ul>
					</li>
					<li class="open">
						<a href="http://www.skb.si/en/exchange-rates">Exchange rates</a>
						<ul class="level-2">
							<li class="nochild">
								<a href="http://www.skb.si/en/exchange-rates/exchange-rates-for-individuals">Exchange rates</a>
							</li>
							<li class="nochild">
								<a href="http://www.skb.si/en/exchange-rates/exchange-rates-for-companies">Exchange rates for companies</a>
							</li>
							<li class="nochild">
								<a href="http://www.skb.si/en/exchange-rates/ecb-reference-exchange-rates">ECB reference exchange rates</a>
							</li>
						</ul>
					</li>
				</ul>
				<div class="disclaimer">
					<p><font size="2" face="Arial">&copy; SKB d.d.&nbsp;All rights reserved.</font>&nbsp;|&nbsp;<a href="http://www.skb.si/en/legal-notification">Legal notification</a>&nbsp;| <a href="http://www.skb.si/en/authors">Authors</a></p>
				</div>
			</div>
		</div>
		<!-- lightbox -->
		<div id="lightbox-outer">
			
				
					
					
					
					
				
			
		</div>
		<div id="mask"></div>
		<!-- /lightbox -->
		<script type="text/plain" class="cc-onconsent-analytics">
			var _paq = _paq || [];
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			(function() {
				var u="//www.skb.si/piwik/";
				_paq.push(['setTrackerUrl', u+'piwik.php']);
				_paq.push(['setSiteId', 1]);
				var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
				g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);

				if ($j('div.search-analytics-hook').size() > 0) {
					_paq.push(['trackSiteSearch', $j('div..search-analytics-hook div.term').text(), 'Site search', $j('div..search-analytics-hook div.count').text()]);
				}
			})();
		</script>
		<script type="text/javascript" src="http://www.skb.si/.resources/website/js/jquery_fancybox.js"></script>
		<script type="text/javascript" src="http://www.skb.si/.resources/website/js/jquery_serialscroll.js"></script>
		<script type="text/javascript" src="http://www.skb.si/.resources/website/js/jquery_scrollto.js"></script>
		<script type="text/javascript" src="http://www.skb.si/.resources/website/js/jquery_easing.js"></script>
		<script type="text/javascript" src="http://www.skb.si/.resources/website/js/jquery_tooltip.js"></script>
		<script type="text/javascript" src="http://www.skb.si/.resources/website/js/jquery_cookie.js"></script>
		<script type="text/javascript" src="http://www.skb.si/.resources/website/js/jquery-ui-1.7.3.custom.min.js"></script>
		<script type="text/javascript" src="http://www.skb.si/.resources/website/js/date.js"></script>
		<script type="text/javascript" src="http://www.skb.si/.resources/website/js/js.js"></script>
        <script type="text/plain" class="cc-onconsent-social">
            includeAddThis();
        </script> 
	</body>
</html>